.one{
    background-color: chocolate;

}
.two{
    background-color: cadetblue;
}
.three{
    background-color: rgba(24, 182, 255, 0.651);
}
body{
    margin: 100px;
    border: solid brown 30PX;
}
#one{
    background-color: black;
}