.one{
    background-color: rgb(160, 218, 106);
    color: rgb(23, 131, 104);
    font-size: xx-large;
    font-style: italic;
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   
   
}
.two{
    background-color: antiquewhite;
}
.three{
    background-color: brown;
}